$border : 1px solid rgba(0,0,0,.1);
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: all 0.2s ease;
    font-family: 'Roboto', sans-serif;
    line-height: 1.42;
}
h1 {
    font-size: 3.998em;
}

h2 {
    font-size: 2.827em;}

h3 {
    font-size: 1.999em;}

h4 {
    font-size: 1.414em;}

small, .font_small {
    font-size: 0.707em;}
body{
    background-color: #e6e6e6;
    font-size: 0.9em;
}
/* navbar */
.navbar{
    background-color: #09bc8a;
    a{
        color: #f5f7f7;
        text-decoration: none;
    }
    .logo{
        margin-right: 50px;
    }
    .mdl-navigation{
        a{
            opacity: 0.8;
            color: #f5f7f7;
            &:hover,
            &:focus{
                opacity: 1;
                background-color: rgba(0,0,0,.1);
            }
        }
        .login-toggle{
            opacity:1;
            background-color: rgba(0,0,0,.1);
            &:hover,
            &:focus{
                background-color: rgba(0,0,0,.2);
            }

        }
    }
}

/* Hide the menu burger on large screens
*/
.mdl-layout__drawer-button{
    opacity: 0;
    visibility: hidden;

}

@media screen and (max-width: 700px){
    /* Show the menu burger on small screens */
    .mdl-layout__drawer-button{
        opacity: 1;
        visibility: visible;
    }
    /* hide the main nav on tablet screens */
    .main-nav{
        display: none;

    }

}
@media screen and (max-width: 400px){
    /* hide the login and sign up nav on mobile devices */
    .login-signup-nav{
        display: none;

    }

}
#sign-up{
    position: absolute;
    top: 68px;
    background-image: url(../img/signup.png);
    min-height: 200px;
    background-color: #dae5e2;
    color: #223843;
    padding: 100px 50px;
    display: flex;
    z-index: 99;
    .presentation{
        p{
            color: #7b8b8e;
        }
        width: 40%;
        margin-right: 5%;
    }
    .sign-up-form{
        background-color: #fff;
        box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
        width: 50%;
        margin: auto;
        min-height: 200px;
        padding: 20px;
        .input-field{
            width: 100%;

        }
        #has-account{
            margin-left: 20px;
            color: #048998;
        }
    }
}
@media screen and (max-width: 700px){
    #sign-up{
        flex-direction: column;
        .sign-up-form{
            width: 100%;
        }
        .presentation{

            width: 100%;
            margin-right: 0%;
            margin-bottom: 20px;
        }
        padding: 200px 20px 100px;
    }
}
@media screen and (max-width: 500px){
    #sign-up{
        .sign-up-form{
            width: 100%;
            #has-account{
                margin-left: 2px;
            }
        }

    }
}
